.weather-container {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .mat-form-field {
            width: 100%;
            color: white;
            input {
                caret-color: auto;
                font-size: 16px;
            }
            mat-label,
            &::placeholder {
                color: white;
            }
            mat-input {
                background-color: #514d71;
            }
        }
    }
}

mat-input {
    text-transform: capitalize !important;
}

::ng-deep {
    .mat-form-field .mat-form-field-flex {
        background-color: #514d71 !important;
    }
}

.mat-raised-button.mat-primary {
    background-color: #514d71;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #fff !important;
}

.serach-container {
    width: 100%;
}

button {
    width: auto;
    margin-bottom: 20px;
}

.details-contianer {
    width: 100%;
    position: relative;
}

.main-mat-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #514d71;
    color: white;
    height: auto;
    border-radius: 10px;
}

.card-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    .tom-weather-details {
        height: 250px;
        width: 28%;
        margin-top: 32px;
        display: flex;
        justify-content: center;
        background-color: #514d71;
        color: white;
    }
    mat-card-content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.mat-form-field-label,
.mat-form-field-label.mat-focused,
.mat-form-field.mat-focused.matform-field-should-float {
    color: #fafafa;
}

.spinner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #343355;
}

.tom-weather-details {
    mat-spinner {
        height: 50px !important;
        width: 50px !important;
        svg {
            height: 50px !important;
            width: 50px !important;
        }
    }
}

.hourly {
    display: flex;
    width: 100%;
    overflow: scroll;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    div {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.main-hourly {
    background: #514d71;
    height: auto;
    width: 60vw;
    position: relative;
    padding-bottom: 5px;
    border-radius: 30px 30px 10px 10px;
    box-shadow: 0 0px 7px 10px #343355;
    bottom: -14px;
}

.hours-weather {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 20px 20px 20px 30px;
    overflow-x: scroll;
    div {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.arrow {
    position: absolute;
    top: 58px;
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343355;
}

.a-left {
    left: -18px;
}

.a-right {
    right: -18px;
}


/* Hide scrollbar for Chrome, Safari and Opera */

.hours-weather::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.hours-weather {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.hourly-weather {
    position: relative;
    width: 100%;
    top: 0;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    img {
        background-color: #00000036;
        border-radius: 100%;
    }
}

@media (max-width: 780px) {
    .weather-container,
    .main-hourly {
        width: 85vw;
    }
    .card-row {
        justify-content: center;
        align-items: center;
        .tom-weather-details {
            width: 90%;
        }
    }
    .spinner {
        padding-bottom: 300px;
    }
}


/* 
.mat-form-field-infix,
.mat-form-field-infix {
    background-color: #514d71 !important;
}

.ng-tns-c67-0 {
    background-color: #514d71 !important;
} */