.weather-container {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .mat-form-field {
            width: 100%;
            color: white;
            input {
                caret-color: auto;
                font-size: 16px;
            }
            mat-label,
            &::placeholder {
                color: white;
            }
            mat-input {
                background-color: #514d71;
            }
        }
    }
}

::ng-deep {
    .mat-form-field .mat-form-field-flex {
        background-color: #514d71 !important;
    }
}

.mat-raised-button.mat-primary {
    background-color: #514d71;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #fff !important;
}

.serach-container {
    width: 100%;
}

button {
    width: auto;
    margin-bottom: 20px;
}

.details-contianer {
    width: 100%;
}

.main-mat-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #514d71;
    color: white;
    height: 500px;
    border-radius: 10px;
}

.card-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .tom-weather-details {
        height: 250px;
        width: 28%;
        margin-top: 32px;
        display: flex;
        justify-content: center;
        background-color: #514d71;
        color: white;
    }
    mat-card-content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.mat-form-field-label,
.mat-form-field-label.mat-focused,
.mat-form-field.mat-focused.matform-field-should-float {
    color: #fafafa;
}


/* 
.mat-form-field-infix,
.mat-form-field-infix {
    background-color: #514d71 !important;
}

.ng-tns-c67-0 {
    background-color: #514d71 !important;
} */